# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pro-bak
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
\#*#

# Local files
*.kicad_prl

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# Gerbers
*.gbr
*.gbrjob
*.drl

# CUPL/GALasm build output
*.jed
*.chp
*.fus
*.pin
*.abs
*.doc
*.lst
*.mx
*.pla
*.sim
*.so
*.wo

# Tools build output
*.ssd
tools/version.txt
tools/README_disc.txt
tools/cartprg
tools/listrom
tools/saverom

# Kibot stuff
pcb/build/
pcb/Makefile.kibot
pcb/kibot_error.log
pcb/version.txt

release/
